<div class="c-panel">
    <div class="c-panel__container">
        <div class="c-panel__left">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 u-pad-b-1x">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100">
                    <div class="c-box__title">TOTAL MENTION by Article</div>
                    <div class="c-chart">
                        <canvas class="chart chart-line"
                                chart-data="$ctrl.model.mention.chart.data"
                                chart-dataset-override="$ctrl.model.mention.chart.datasets"
                                chart-labels="$ctrl.model.mention.chart.labels"
                                chart-series="$ctrl.model.mention.chart.series"
                                chart-click="$ctrl.onLineChartClick">
                        </canvas>
                    </div>
                </div>
            </div>
            <!-- main -->

            <!-- bottom -->
            <div class="c-panel__bottom">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100 c-box--w-100">
                    <div class="c-box__title u-margin-t-1x">TIME FRAME</div>
                    <c-form-timeframe class="u-w-100 u-pad-l-3x u-pad-r-3x" model="$ctrl.periodSelection"></c-form-timeframe>
                </div>
            </div>
            <!-- /bottom -->
        </div>
        <!-- right -->
        <div class="c-panel__right-2">
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left">
                <div class="c-box__title">MEDIA TYPE</div>
                <!-- <c-form-mediatype class="u-w-100"></c-form-mediatype> -->
                <c-form-mediatype class="u-w-100" model="$ctrl.mediaTypeSelection"></c-form-mediatype>
            </div>
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left">
                <div class="c-box__title u-margin-b-2x">CATEGORY / ISSUE</div>
                <c-form-category class="u-w-100" model="$ctrl.categorySelection" parameters="$ctrl.categorySet"></c-form-category>
            </div>
            <c-footer class="c-panel__box-3 u-text-uc c-box"></c-footer>
        </div>
        <!-- /right -->
    </div>
</div>
