<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title></title>  <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 10px 0;
        }
    </style><!--[if !mso]><!-->
    <style type="text/css">
        @media only screen and (max-width: 480px) {
            @-ms-viewport {
                width: 320px;
            }    @viewport {
                width: 320px;
            }
        }
    </style><!--<![endif]--><!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]--><!--[if lte mso 11]>
    <style type="text/css">
        .outlook-group-fix {
            width: 100% !important;
        }
    </style><![endif]--><!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css"> @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700); </style>
    <!--<![endif]-->
    <style type="text/css">
        @media only screen and (min-width: 480px) {
            .mj-column-per-100 {
                width: 100% !important;
            }

            .mj-column-per-50 {
                width: 50% !important;
            }

            .mj-column-per-33 {
                width: 33.333333% !important;
            }

            .mj-column-per-60 {
                width: 60% !important;
            }

            .mj-column-per-40 {
                width: 40% !important;
            }
        }
    </style>
</head>
<body style="background: #50575d;">
    <div class="mj-container" style="background-color:#fff;padding:10px 10px 20px 10px;margin:20px auto;max-width:600px;">
        <!--[if mso | IE]>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="left" style="width:600px;">
            <tr>
                <td style="line-height:0px;font-size:12px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="margin:0px auto;max-width:600px;background:#e2e2e2;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;background:#e2e2e2;" align="left" border="0">
                <tbody>
                <tr>
                    <td style="text-align:left;vertical-align:top;direction:ltr;font-size:12px;padding:10px 0px 10px 0px;">
                        <!--[if mso | IE]>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="vertical-align:top;width:300px;">
                        <![endif]-->
                        <div class="mj-column-per-50 outlook-group-fix"
                             style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;">
                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td style="word-wrap:break-word;font-size:12px;padding:0px 10px 0px 10px;"
                                        align="left">
                                        <table role="presentation" cellpadding="0" cellspacing="0"
                                               style="border-collapse:collapse;border-spacing:0px;" align="left" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="width:210px;">
                                                    <img alt="" title="" height="auto"
                                                         src="<%= logo %>"
                                                         style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;"
                                                         width="210"
                                                    >
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if mso | IE]>
                                </td>
                                <td style="vertical-align:top;width:300px;">
                        <![endif]-->
                        <div class="mj-column-per-50 outlook-group-fix"
                             style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;">
                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td style="word-wrap:break-word;font-size:12px;padding:0px 10px 0px 10px;" align="right">
                                        <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:right;">
                                            <span style="font-size:16px;"><strong>Overview Report</strong></span><br>
                                            <span style="font-size:12px;"><%= date %></span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if mso | IE]>
                                </td>
                            </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>      </td></tr></table>      <![endif]-->      <!--[if mso | IE]>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center"
               style="width:600px;">
            <tr>
                <td style="line-height:0px;font-size:12px;mso-line-height-rule:exactly;">      <![endif]-->
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;" border="0">
            <tbody>
            <tr>
                <td>
                    <div style="margin:0px auto;max-width:600px;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;"
                               align="center" border="0">
                            <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:12px;padding:30px 0px 10px 0px;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="vertical-align:top;width:198px;">      <![endif]-->
                                    <div class="mj-column-per-33 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;float:left;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>TOTAL MENTIONS</strong></span><br>
                                                        <div style="padding:10px 0px 0px 0px;">
                                                            <strong><span style="font-size:36px;"><%= data.stats.tm %></span></strong><br>
                                                            <span style="font-size:14px;">Mentions</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td>
                                    <td style="vertical-align:top;width:198px;">      <![endif]-->
                                    <div class="mj-column-per-33 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;float:left;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>MEDIA BREAKDOWN</strong></span><br>
                                                        <ul style="display:block;list-style-type:none;padding:0px;margin:0px;width:100%">
                                                            <% for(var i in data.stats.mb) { %>
                                                            <li style="float:left;display:inline-block;list-style-type:none;padding:0px;margin:0px;width:50%">
                                                                <div style="display:inline-block;vertical-align: middle;line-height: 22px;">
                                                                    <img width="16" src="<%= path + 'assets/icons/' + data.stats.mb[i].icon + '.png' %>"></div>
                                                                <div style="display:inline-block;line-height: 22px;"><%= data.stats.mb[i].count %></div>
                                                            </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td>
                                    <td style="vertical-align:top;width:198px;">      <![endif]-->
                                    <div class="mj-column-per-33 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>NET SENTIMENT</strong></span><br>
                                                        <img width="100" src="<%= data.images.doughnut_1.url %>">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td></tr></table>      <![endif]--></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--[if mso | IE]>      </td></tr></table>      <![endif]-->      <!--[if mso | IE]>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center"
               style="width:600px;">
            <tr>
                <td style="line-height:0px;font-size:12px;mso-line-height-rule:exactly;">      <![endif]-->
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;" border="0">
            <tbody>
            <tr>
                <td>
                    <div style="margin:0px auto;max-width:600px;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;"
                               align="center" border="0">
                            <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:12px;padding:10px 0px 10px 0px;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="vertical-align:top;width:360px;">      <![endif]-->
                                    <div class="mj-column-per-60 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>TRENDING STORIES</strong></span><br>
                                                        <% for(var i=0; i < data.stats.ts.length; i++) { %>
                                                        <div style="background-color: <%= (i % 2 === 0 ? '#f0f0f0' : '#fff') %>">
                                                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="width:16px;word-wrap:break-word;text-align:center;vertical-align:top;font-size:12px;padding:10px 0px 10px 10px;"
                                                                        align="left">
                                                                        <%= i + 1 %>
                                                                    </td>
                                                                    <td style="word-wrap:break-word;font-size:12px;padding:10px;"
                                                                        align="left">
                                                                        <div><%= data.stats.ts[i].content.substring(0, 80) %>...</div>
                                                                        <span style="color:#0096ff"><%= data.stats.ts[i].title %></span>
                                                                        <span>&nbsp;-&nbsp;</span>
                                                                        <span>Mentioned <%= data.stats.ts[i].reach %> times</span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        <% } %>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td>
                                    <td style="vertical-align:top;width:240px;">      <![endif]-->
                                    <div class="mj-column-per-40 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>SHARE OF VOICE</strong></span><br>
                                                        <div style="width: 100%;text-align:center;"><img width="180" src="<%= data.images.doughnut_2.url %>"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td></tr></table>      <![endif]--></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--[if mso | IE]>      </td></tr></table>      <![endif]-->      <!--[if mso | IE]>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center"
               style="width:600px;">
            <tr>
                <td style="line-height:0px;font-size:12px;mso-line-height-rule:exactly;">      <![endif]-->
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;" border="0">
            <tbody>
            <tr>
                <td>
                    <div style="margin:0px auto;max-width:600px;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%;"
                               align="center" border="0">
                            <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:12px;padding:10px 0px 10px 0px;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="vertical-align:top;width:600px;">      <![endif]-->
                                    <div class="mj-column-per-100 outlook-group-fix"
                                         style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;float:left;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="word-wrap:break-word;font-size:12px;padding:0px 0px 0px 0px;"
                                                    align="left">
                                                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
                                                        <span style="font-size:15px;padding:0px 0px 10px 0px;"><strong>WORD CLOUD</strong></span><br>
                                                        <img alt="" title="" width="600" height="auto" src="<%= data.images.wordcloud.url %>">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>      </td></tr></table>      <![endif]--></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
    </div>
</body>
</html>
