.form-control {
  display: block;
  width: 100%;
  height: vh(($line-height-base * 20px) + 12px + 2px); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: vh(6px) vh(12px);
  font-size: vh(20px);
  border-width: vh(1px);
}

.input-black {
  background: color(black, base);
  color: color(white, base);
  border: vh(2px) solid color(white, base);
}
