<div class="c-panel">
    <div class="c-panel__container">
        <div class="c-panel__left-2">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 u-pad-b-1x">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100">
                    <div class="c-box__title">News Clip</div>
                    <ul class="c-post-list c-post-list--2" style="overflow: auto;">
                        <li class="c-post-list__item"
                            ng-repeat="(index, post) in $ctrl.model.post.posts"
                            ng-click="$ctrl.prop.mediaplayer.post = post">
                            <div class="c-post c-post--2">
                                <!-- <span class="c-post__date">{{post.date}}</span><span class="c-post__body">{{post.text}}</span> -->
                                <span class="c-post__date">{{post.datee.substring(0, 10)}}</span>
                                <span class="c-post__body">
                                    <span class="c-post__text">[{{post.type.toUpperCase()}}] {{post.content}}</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- main -->
            <!-- bottom -->
            <div class="c-panel__bottom">
                <div class="row row-inside">
                    <div class="col-sm-6">
                        <div class="c-panel__box c-box c-box--content-top c-box--align-left u-text-uc">
                            <div class="c-box__title">MEDIA TYPE</div>
                            <c-form-mediatype class="u-w-100" model="$ctrl.mediaTypeSelection"></c-form-mediatype>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="c-panel__box c-box c-box--content-top c-box--align-left u-text-uc">
                            <div class="c-box__title u-margin-b-2x">CATEGORY / ISSUE</div>
                            <c-form-category class="u-w-100" model="$ctrl.categorySelection" parameters="$ctrl.categorySet"></c-form-category>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /bottom -->
        </div>
        <!-- right -->
        <div class="c-panel__right-3">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 u-pad-b-1x">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100" ng-switch="$ctrl.prop.mediaplayer.post.type">
                    <div class="c-box__title">CLIP PREVIEW</div>
                    <div class="c-mediaplayer" ng-switch-when="video">
                        <video class="c-mediaplayer__player" src="{{$ctrl.prop.mediaplayer.post.file_pdf}}" autoplay controls></video>
                    </div>
                    <div class="c-mediaplayer" ng-switch-when="pdf">
                        <object data="{{$ctrl.prop.mediaplayer.post.file_pdf}}" type="application/pdf" height="100%" width="100%">
                            <p>We are sorry. This browser does not support PDFs.</p>
                        </object>
                    </div>
                    <div class="c-mediaplayer" ng-switch-when="url">
                        <iframe src="{{$ctrl.prop.mediaplayer.post.file_pdf}}" width="100%" height="100%"></iframe>
                    </div>
                </div>
            </div>
            <!-- main -->
            <!-- bottom -->
            <div class="c-panel__bottom">
                <div class="c-panel__box c-box c-box--content-top c-box--align-left u-text-uc">
                    <div class="c-box__title u-margin-b-2x">TIME FRAME</div>
                    <c-form-timeframe class="u-w-100 u-pad-l-3x u-pad-r-3x" model="$ctrl.periodSelection"></c-form-timeframe>
                </div>
            </div>
            <!-- /bottom -->
        </div>
        <!-- /right -->
    </div>
</div>
