<div class="c-form-timeframe">
    <div class="c-form-timeframe__nav"
         ng-repeat="timeframe in $ctrl.prop.timeframes"
         ng-click="$ctrl.modalOpen(timeframe)"
         ng-class="{'s-is-active': $ctrl.state.active === timeframe.timeframe}">
        <div class="c-form-timeframe__icon">
            <img class="c-form-timeframe__img" src="assets/images/icons/timeframes@225x245/{{timeframe.image}}">
            <img class="c-form-timeframe__img-hover" src="assets/images/icons/timeframes@225x245/{{timeframe.imageHover}}">
        </div>
        <div class="c-form-timeframe__text">{{timeframe.text}}</div>
    </div>
</div>
