<div class="c-panel">
    <div class="c-panel__container">
        <div class="c-panel__left-3">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 c-panel__main--h-100">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100">
                    <div class="c-box__title u-margin-t-1x u-margin-l-1x">WORD CLOUD</div>
                    <div class="c-word-cloud">
                        <div class="c-word-cloud__canvas"></div>
                        <div class="c-word-cloud__canvas-hidden-ctr">
                            <canvas width="650" height="325" class="c-word-cloud__canvas-hidden"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main -->
        </div>
        <!-- right -->
        <div class="c-panel__right-4">
            <div class="c-panel__box c-box c-box--content-top c-box--align-left c-box--h-100 u-pad-l-3x u-pad-r-3x">
                <div class="c-box__title u-margin-t-1x">TOP POST</div>
                <ul class="c-post-list">
                    <li class="c-post-list__item" ng-repeat="post in $ctrl.model.top_posts">
                        <div class="c-post">
                            <div class="c-post__icon">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="c-post__body">
                                <div class="c-post__title">
                                    <span>{{post.title}}</span>&nbsp;|
                                    <span ng-if="post.sentiment === '-1'"><span>Negative</span>&nbsp;|</span>
                                    <span ng-if="post.sentiment === '0'"><span>Netral</span>&nbsp;|</span>
                                    <span ng-if="post.sentiment === '1'"><span>Positive</span>&nbsp;|</span>
                                    <span>{{post.reach}}</span>
                                </div>
                                <div class="c-post__text">
                                    {{post.content}}
                                    <a href="{{post.source}}">{{post.source}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /right -->
    </div>
</div>
