<div class="c-box__title u-margin-t-2x">SOCIAL MEDIA DASHBOARD</div>
<div class="">
    <!-- <img class="c-logo c-logo--client" src="assets/images/logos/clients@700x181/allianz-white.png"> -->
    <img class="c-logo c-logo--client" ng-src="{{$ctrl.clientLogo}}">
    <!-- <img class="c-logo c-logo--client" src="http://admin.antara-insight.id/asset/images/company/1475902371_logo esdm 72 x 72.png" onerror="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"> -->
</div>
<div class="u-text-minus-6">Powered By</div>
<!-- <img class="c-logo u-margin-b-2x" src="assets/images/logos/antara@465x70.png"> -->
<img class="c-logo u-margin-b-2x" src="assets/images/logos/pi.png">
