// Html
html {
  font-size: vw($app_base_rem_size);
  background-color: $body-bg;
  width: 100%;
  overflow: hidden;
}
html,
body {
  height: percent(1, 1);
}

body {
  font-size: vw($app_base_font_size);
  font-family: font(proxima, thin);
  color: #fefefe;
}
body,
body > .c-template-content,
body > .c-template-content > .view-container,
body > .c-template-content > .view-container > .view-frame {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: transparent;
}

b {
  font-family: font(proxima, regular);
}

iframe {
  display: block;
  border: 0;
}
