.c-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 vw(20px);
  border: vh(2px) solid rgba(254, 254, 254, 0.1);
  font-family: font(proxima, thin);
  font-weight: normal;
  line-height: 1;
  max-height: 100%;
  > div:not(.chartjs-size-monitor) {
    margin-bottom: vh(10px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.c-box--block {
    display: block;
    flex-flow: column nowrap;
    justify-content: initial;
    align-items: initial;
  }
  &.c-box--no-border {
    border: 0;
  }
  &.c-box--w-100 {
    width: 100%;
  }
  &.c-box--h-100 {
    height: 100%;
  }
  &.c-box--align-left {
    align-items: flex-start;
    text-align: left;
  }
  &.c-box--content-top {
    padding-top: vh(10px);
    justify-content: flex-start;
  }
  &.c-box--content-bottom {
    justify-content: flex-end;
  }
}

.c-box__title {
  font-size: vh(20px);
  margin-bottom: vh(10px);
}

.c-box__counter {
  font-size: vh($app_base_font_size * 4);
}

.c-box__counter-hr {
  display: block;
  width: 55%;
  height: vh(2px);
  border-bottom: vh(2px) solid rgba(254,254,254,1);
}
