.c-hidden-ctr {
  visibility: hidden !important;
  opacity: 0 !important;
  position: relative;
  display: block;
  width: 100%;
  &.c-hidden-ctr--debug {
    visibility: visible !important;
    opacity: 1 !important;
  }
  &.c-hidden-ctr--compact {
    overflow: hidden;
    width: 0px;
    height: 0px;
  }
}
