.c-radio {
  display: block;
  label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: normal;
    flex: 1 0 auto;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      .c-radio__input {
        border-color: $brand-primary;
        color: $brand-primary;
      }
    }
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    &:checked + .c-radio__input {
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }
  &.c-radio--inline {
    display: inline-flex;
  }
}

.c-radio__input {
  padding: 0 vh(7px);
  min-width: vh(50px);
  height: vh(40px);
  line-height: vh(40px);
  text-align: center;
  font-size: vh(26px);
  cursor: pointer;
  border: vh(2px) solid rgba(254, 254, 254, 0.1);
  transition: all 0.1s ease-in-out;
  + .c-radio__text {
    margin-left: vw(10px);
    transition: all 0.1s ease-in-out;
  }
}
