.c-update {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: #000;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.c-update__message {
  width: 25%;
  text-align: center;
  font-size: vh(14px);
}
