.c-word-cloud {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: vh(20px);
}

.c-word-cloud__canvas {
  //display: none !important;
  position: relative;
  width: vw(650px);
  height: vh(650px);
  background: transparent !important;
  cursor: default;
  span {
    @extend .hvr-bob;
    text-shadow: 0 0 0.05em rgba(8, 18, 31, 0.25);
    &:hover,
    &:focus,
    &:active {
      z-index: 1;
      text-shadow: -0.02em 0.01em 0.05em rgba(8, 18, 31, 0.5);
    }
  }
}

.c-word-cloud__canvas-hidden-ctr {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.c-word-cloud__canvas-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  position: relative;
  display: block;
  width: 650px !important;
  height: 325px !important;
}
