<div class="c-panel">
    <div class="c-panel__container">
        <div class="c-panel__left">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 c-panel__main--h-100">
                <div class="c-box c-box--no-border c-box--content-top c-box--align-left c-box--h-100">
                    <iframe src="https://www.antaranews.com/" width="100%" height="100%"></iframe>
                </div>
            </div>
            <!-- main -->
        </div>
    </div>
</div>
