<form name="category" class="u-flex">
    <!-- <div class="u-w-33 u-text-center u-margin-b-1x" ng-repeat="radio in $ctrl.prop.radios"> -->
    <div class="u-w-33 u-text-center u-margin-b-1x" ng-repeat="radio in $ctrl.parameters">
        <div class="c-radio c-radio--inline">
            <label>
                <input type="radio" name="category-number" ng-model="$ctrl.model" value="{{radio.category_set}}" ng-value="'{{radio.category_set}}'">
                <span class="c-radio__input" uib-tooltip="{{radio.descriptionz}}" tooltip-placement="top" tooltip-class="u-text-uc">{{$index+1}}</span>
            </label>
        </div>
    </div>
</form>
