// Alert
.s-is-alert {
  animation: s-alert 3s linear 1;
  .c-notification__icon {
    .c-notification__img {
      animation: s-alert-icon 3s linear 1;
    }
    .c-notification__img-hover {
      animation: s-alert-icon-hover 3s linear 1;
    }
  }
}

@keyframes s-alert {
  20%, 60% {
    border-color: rgba(255, 0, 0, 1);
    color: rgba(255, 0, 0, 1);
  }
  80% {
    border-color: rgba(254,254,254, 0.1);
    color: rgba(254,254,254, 1);
  }
}

@keyframes s-alert-icon {
  20%, 60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes s-alert-icon-hover {
  20%, 60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

.s-is-active {
  color: $brand-primary;
}
