<div class="c-soundalert">
    <audio preload="auto">
        <source src="assets/audios/ringtones/chime.wav" type="audio/wav">
        This browser does not support audio player.
    </audio>
</div>
