<div class="c-panel">
    <div class="c-panel__container">
        <div class="c-panel__left">
            <!-- main -->
            <div class="c-panel__main c-panel__main--w-100 u-pad-b-1x">
                <div class="c-box c-box--content-top c-box--align-left c-box--h-100">
                    <div class="c-box__title">HISTORICAL SENTIMENT</div>
                    <div class="c-chart">
                        <canvas class="chart chart-line"
                                chart-data="$ctrl.model.mention.chart.data"
                                chart-dataset-override="$ctrl.model.mention.chart.datasets"
                                chart-labels="$ctrl.model.mention.chart.labels"
                                chart-series="$ctrl.model.mention.chart.series"
                                chart-click="$ctrl.onLineChartClick">
                        </canvas>
                    </div>
                </div>
            </div>
            <!-- main -->

            <!-- bottom -->
            <div class="c-panel__bottom c-box c-box--block">
                <div class="row row-inside c-doughnut-list c-doughnut-list--2">
                    <div class="col-sm-4">
                        <div class="c-panel__box c-box c-box--no-border u-text-uc">
                            <div class="c-chart c-chart--doughnut u-margin-t-1x">
                                <canvas width="27.77778vh" height="20.83333vh" id="js-doughnut-positive"
                                        class="chart chart-doughnut"
                                        chart-data="$ctrl.model.mention.doughnut[0].data"
                                        chart-dataset-override="$ctrl.model.mention.doughnut[0].datasets"
                                        chart-colors="$ctrl.model.mention.doughnut[0].colors"
                                        chart-labels="$ctrl.model.mention.doughnut[0].labels">
                                </canvas>
                                <div class="c-doughnut-list__item-val">{{$ctrl.model.mention.doughnut[0].data[0]}}%</div>
                            </div>
                            <div class="u-margin-b-1x u-margin-t-1x">POSITIVE</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="c-panel__box c-box c-box--no-border u-text-uc">
                            <div class="c-chart c-chart--doughnut u-margin-t-1x">
                                <canvas width="27.77778vh" height="20.83333vh"
                                        class="chart chart-doughnut"
                                        chart-data="$ctrl.model.mention.doughnut[1].data"
                                        chart-dataset-override="$ctrl.model.mention.doughnut[1].datasets"
                                        chart-colors="$ctrl.model.mention.doughnut[1].colors"
                                        chart-labels="$ctrl.model.mention.doughnut[1].labels">
                                </canvas>
                                <div class="c-doughnut-list__item-val">{{$ctrl.model.mention.doughnut[1].data[0]}}%</div>
                            </div>
                            <div class="u-margin-b-1x u-margin-t-1x">NETRAL</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="c-panel__box c-box c-box--no-border u-text-uc">
                            <div class="c-chart c-chart--doughnut u-margin-t-1x">
                                <canvas width="27.77778vh" height="20.83333vh"
                                        class="chart chart-doughnut"
                                        chart-data="$ctrl.model.mention.doughnut[2].data"
                                        chart-dataset-override="$ctrl.model.mention.doughnut[2].datasets"
                                        chart-colors="$ctrl.model.mention.doughnut[2].colors"
                                        chart-labels="$ctrl.model.mention.doughnut[2].labels">
                                </canvas>
                                <div class="c-doughnut-list__item-val">{{$ctrl.model.mention.doughnut[2].data[0]}}%</div>
                            </div>
                            <div class="u-margin-b-1x u-margin-t-1x">NEGATIVE</div>
                        </div>
                    </div>
                    <div class="c-hidden-ctr">
                        <canvas style="width: 100%" id="js-doughnut-positive-breakdown-hidden"
                                class="chart chart-doughnut"
                                chart-data="$ctrl.model.mention.progress.doughnut.data"
                                chart-dataset-override="$ctrl.model.mention.progress.doughnut.datasets"
                                chart-colors="$ctrl.model.mention.progress.doughnut.colors"
                                chart-labels="$ctrl.model.mention.progress.doughnut.labels">
                        </canvas>
                    </div>
                </div>
            </div>
            <!-- /bottom -->
        </div>
        <!-- right -->
        <div class="c-panel__right-2">
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left">
                <div class="c-box__title">TOP ISSUES <span class="u-text-positive-base">POSITIVE</span></div>
                <ul class="c-progress-list">
                    <li class="c-progress-list__item" ng-repeat="prgs in $ctrl.model.mention.progress.positif">
                        <div class="c-progress-list__label">{{prgs.name}}</div>
                        <uib-progressbar class="c-progress-list__bar progress-positive progress--small" max="100" value="prgs.percent">
                            &nbsp;<span class="c-progress-list__value">{{prgs.count}}</span>
                        </uib-progressbar>
                    </li>
                </ul>
            </div>
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left">
                <div class="c-box__title">TOP ISSUES <span class="u-text-netral-base">NETRAL</span></div>
                <ul class="c-progress-list">
                    <li class="c-progress-list__item" ng-repeat="prgs in $ctrl.model.mention.progress.netral">
                        <div class="c-progress-list__label">{{prgs.name}}</div>
                        <uib-progressbar class="c-progress-list__bar progress-netral progress--small" max="100" value="prgs.percent">
                            &nbsp;<span class="c-progress-list__value">{{prgs.count}}</span>
                        </uib-progressbar>
                    </li>
                </ul>
            </div>
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left">
                <div class="c-box__title">TOP ISSUES <span class="u-text-negative-base">NEGATIVE</span></div>
                <ul class="c-progress-list">
                    <li class="c-progress-list__item" ng-repeat="prgs in $ctrl.model.mention.progress.negatif">
                        <div class="c-progress-list__label">{{prgs.name}}</div>
                        <uib-progressbar class="c-progress-list__bar progress-negative progress--small" max="100" value="prgs.percent">
                            &nbsp;<span class="c-progress-list__value">{{prgs.count}}</span>
                        </uib-progressbar>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /right -->
    </div>
</div>
